
.left-icons {
    display: flex;
    flex-direction: column;
    gap: 110px;
    position: absolute;
    top: 50%;
    left: 10px; 
    bottom: 40px;
    transform: translateY(-50%);
  }
  
  .right-icons {
    display: flex;
    flex-direction: column;
    gap: 110px;
    position: absolute;
    top: 50%;
    right: 10px; 
    bottom: 40px;
    transform: translateY(-50%);
  }
  .icon {
    width: 52px;
    height: 54px; 
    margin-bottom: 10px; 
  }
  
  .footer-icon {
    width: 50px;
    height: 44px; 
    margin-bottom: 10px; 
  }
  .footer{
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 260px;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px){
    .footer{
      margin-top: 15px;
      gap: 50px;
    }
  }